# IF,elif and else statements

In [1]:
a=10

In [2]:
if a<15:
    print(" my name is devendra singh")

 my name is devendra singh

In [3]:
a<15

True

In [4]:
if a<15:
    pass

In [5]:
if 24<15:                     # in this case nothing return 
    print(" my name is devendra singh")

In [6]:
24<15

False

In [7]:
if 10<3:
    print("10 is lesser then 3")
else:
    print("if statements is wrong")

if statements is wrong

In [8]:
if 5<10:
     print("5 is lesser then 10")
else:
    print("if statements is wrong")

5 is lesser then 10

In [9]:
income=100
if income<50:
    print(" i will able to buy phone")
elif income<70:
    print("i will able to buy car")
elif income<90:
    print("i will able to rant a house ")
else:
    print("i won't be able to buy anything")

i won't be able to buy anything

In [10]:
income=int(input())
if income<50:
    print(" i will able to buy phone")
elif income<70:
    print("i will able to buy car")
elif income<90:
    print("i will able to rant a house ")
else:
    print("i won't be able to buy anything")

10
 i will able to buy phone

In [11]:
total_price=int(input())
if total_price>20000:
    discount=total_price*.20
    print("discount will be",discount)
elif total_price<=7000:
    discount= total_price*.05
    print("discount will be",discount)
else:
    print("wont be able to give any discount")

4565
discount will be 228.25

In [12]:
coup="Devendra"
if coup=="Devendra":
    print("you will be able to get a disount of 5%")
    paid_amount=7000-7000*8.05
    print("you will be able to get one neuron with this amount",paid_amount)
else: 
    print("kindly use a valid coupoun code")

you will be able to get a disount of 5%
you will be able to get one neuron with this amount -49350.00000000001

In [13]:
"dev"=="dev"

True

In [15]:
study_hour=int(input())
if study_hour<1:
    print("it may take 8,9 month of time to make a transition")
elif study_hour<4 and study_hour>1:
    print("it may take 6 month for transition")
elif study_hour>10:
    print("it will take 3 month of time for transition")
else:
    print("it will be difficult")

1
it will be difficult

In [16]:
study=float(input())
if study<1 and study>0.5:
    print("you may succeed")
elif study<6 and study>1:
    print("succeed")
else:
    print("fain")

1.5
succeed

In [17]:
a=9
if a==9:print("valid")

valid

# Nested if else condition

In [18]:
s=input()
course=input()
service=input()
if s=="oneneuron":
    if course=="DSA":
        print("yes its available under one neuron and in multiple mode for job preparation and core course")
    elif course=="Blockchain":
        print("this is not available as of now, kindly raise your demand and it will bwe fulfill in 60 days")
    elif course=="FDSA":
        print("yes its available, you an start learning")
    else:
        print("this course is not available kindly raise your demand")
elif s=="oneneuronservice":
    if service=="courserequest":
        print("note")
    elif service=="module":
        print("note note")
    elif service=="doubt":
        print("note note note")
    else:
        print("note me now")
else:
    print("connect me your team")

oneneuron
DSA
connect me your team

# For Loop Statements

In [19]:
l=[1,2,3,4,5,6,7]
for i in l:
    print(i)

1
2
3
4
5
6
7

In [20]:
d="Devendra"
for i in d:
    print(i)

D
e
v
e
n
d
r
a

In [21]:
for i in 'Singh':
    print(i)

S
i
n
g
h

In [22]:
t=(1,2,3,4,5,6)

In [23]:
for i in t:
    print(i)

1
2
3
4
5
6

In [24]:
l=[1,4,5,6,4.7,"dev"]
for i in l:
    print(type(i),"type of ",i)

<class 'int'> type of  1
<class 'int'> type of  4
<class 'int'> type of  5
<class 'int'> type of  6
<class 'float'> type of  4.7
<class 'str'> type of  dev

In [25]:
l=[1,4,5,6,4.7]
l1=[]
for i in l:
    print(i+4)
    l1.append(i+4)

5
8
9
10
8.7

In [26]:
l1

[5, 8, 9, 10, 8.7]

In [27]:
l=[2,45,78,12,"dev",6+7j,[56,67,78]]

In [34]:
l1=[]
for i in l:
    if type(i)==int:
        print(i)
    elif type(i)==list:
        for j in i:
            if type(j)==int:
                print(j)

2
45
78
12
56
67
78

In [59]:
l=[2,45,78,12,12,12,12,12,"dev","kumar",6+7j,[56,67,78,"singh"]]

##q1. try to print index of all the elements
#q2. try to extract all the list or charecter if elemnets is string
#q3. try to return a list after dooing a square of all the int elements

In [60]:
#q1
for i in range(len(l)):
    print("index",i,"for ana elements",l[i])

index 0 for ana elements 2
index 1 for ana elements 45
index 2 for ana elements 78
index 3 for ana elements 12
index 4 for ana elements 12
index 5 for ana elements 12
index 6 for ana elements 12
index 7 for ana elements 12
index 8 for ana elements dev
index 9 for ana elements kumar
index 10 for ana elements (6+7j)
index 11 for ana elements [56, 67, 78, 'singh']

In [61]:
for i in enumerate(l):
    print(i)

(0, 2)
(1, 45)
(2, 78)
(3, 12)
(4, 12)
(5, 12)
(6, 12)
(7, 12)
(8, 'dev')
(9, 'kumar')
(10, (6+7j))
(11, [56, 67, 78, 'singh'])

In [69]:
#q2
for i in l:
    if type(i)==str:
        l1=[]
        for j in i:
            l1.append(j)
        print(l1)

['d', 'e', 'v']
['k', 'u', 'm', 'a', 'r']

In [67]:
#q3
l1=[]
for i in l:
    if type(i)==int:
        l1.append(i**2)

In [68]:
l1

[4, 2025, 6084, 144, 144, 144, 144, 144]